name: Deploy superbike.html to S3

on:
  push:
    branches:
      - main
    paths:
      - "superbike.html"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::517649887317:role/myserver-role
          aws-region: ap-south-1

      - name: Upload superbike.html to S3
        run: |
          aws s3 cp superbike.html s3://${{ secrets.vamshi }}/superbike.html
